<section>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td>Namn</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let myCourse of filteredCourses">
                <td><a routerLink="/my-courses/{{myCourse.courseCode}}">{{ myCourse.courseCode }}</a></td>
                <td>{{ myCourse.name }} </td>
                <td>{{ myCourse.completed }}</td>
            </tr>
        </tbody>
    </table>
</section>