<section>
    <table>
        <thead>
            <tr>
                <td>Ämneskod</td>
                <td>Ämne</td>
                <td>Språk</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ subject.subjectCode }}</td>
                <td>{{ subject.subject }} </td>
                <td>{{ subject.language }}</td>
            </tr>
        </tbody>
    </table>
    <div>{{ subject.preamble }}</div>
    <div>{{ subject.bodyText }}</div>
</section>