<!-- The event messageFilter (emitted by course-filter.component) is captured an calls its function 
    filterStringReceived($event), $event being the input string-->
<app-course-filter (messageFilter)="filterStringReceived($event)"></app-course-filter>

<!-- The property filterString in course-list is bound to the property filterString in courses, (the property has the same name in both components)-->
<app-course-list [filterString]="filterString"></app-course-list>