<!-- The event messageFilter (emitted by course-filter.component) is captured an calls its function 
    filterStringReceived($event), $event being the input string-->
<app-course-filter (messageFilter)="filterStringReceived($event)"></app-course-filter>

<!-- The property filterString in my-course-list is bound to the property filterString in my-courses, (the property has the same name in both components)-->
<app-my-course-list [filterString]="filterString"></app-my-course-list>