<section>
    <form #addCourseForm="ngForm" (ngSubmit)="addCourse(addCourseForm.value)">
        <label>Add course <input #course type="text" placeholder="course code..." name="courseCode" ngModel></label>
        <!-- tillgänglig i $scope.firstName -->
        <label for="completed"> Avklarad?
        <input type="checkbox" id="completed" name="completed" ngModel> </label>
        <button type="submit">Lägg till kurs</button>
    </form>
</section>