<section>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td>Namn</td>
                <td>Status</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let myCourse of myCourses">
                <td>{{ myCourse.courseCode }}</td>
                <td>{{ myCourse.name }} </td>
                <td>{{ myCourse.completed }}</td>
                <td class="change" (click)="updateCompleted(myCourse.courseCode)">Change</td>
                <td class="delete" (click)="delete(myCourse.courseCode)">delete</td>
            </tr>
        </tbody>
    </table>
    <app-my-course-add-form></app-my-course-add-form>
</section>