<section>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td>Namn</td>
                <td>Ämne</td>
                <td>Progression</td>
                <td>hp</td>
                <td>Institution</td>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let course of filteredCourses">
                <td><a routerLink="/courses/{{course.courseCode}}">{{ course.courseCode }}</a></td>
                <td>{{ course.name }}</td>
                <td><a routerLink="/subjects/{{course.subjectCode}}">{{ course.subject }}</a></td>
                <td>{{ course.progression }}</td>
                <td>{{ course.points }}</td>
                <td class="center">{{ course.institutionCode }}</td>
            </tr>
        </tbody>
    </table>
</section>