<section>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td>Namn</td>
                <td>Ämne</td>
                <td>Progression</td>
                <td>hp</td>
                <td>Institution</td>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td>{{ course.courseCode }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.subject }}</td>
                <td>{{ course.progression }}</td>
                <td>{{ course.points }}</td>
                <td class="center">{{ course.institutionCode }}</td>
            </tr>
        </tbody>
    </table>
</section>