header {
    margin-bottom: 20px;
}

header p {
    display: inline;
}

nav {
    float: right;
}

main {
    padding: 20px;
    border-radius: 8px;
    border: thin solid grey;
    box-shadow: 15px 15px 50px grey, 5px 5px 5px grey;
    background-color: #fff;
}

footer {
    margin-top: 2em;
    font-size: 14px;
    color: #666;
}

.center {
    text-align: center;
}