<section class="filter">
    <form>
        <!-- On key up sendFilterString is called with the value of the input field-->
        <label>Filtrera på:<input #inputF (keyup)="sendFilterString(inputF.value)"
                placeholder="Filter..." /></label>
    </form>
</section>