<section>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td>Namn</td>
                <td>Status</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ myCourse.courseCode }}</td>
                <td>{{ myCourse.name }} </td>
                <td>{{ myCourse.completed }}</td>
            </tr>
        </tbody>
    </table>
</section>